# Ignore the files I dont want distribute
99 setup.ps1
99 test area.ps1
ErrorlogContent.txt
List.txt
Misc_Regex_Formatting.ps1
Powershell medley.pptx
RaffleFooter.html
RaffleHeader.html
Ref_geolytix_retailpoints_version12_oct18.txt
Ref_README.txt
RegexFilters.ps1
tempCodeRunnerFile.ps1